In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
population = pd.read_csv('/content/drive/My Drive/ADS/diamonds.csv', delimiter=",")

In [ ]:
population.head(5)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [ ]:
sample = population.sample(n=40)

In [ ]:
# print(sample)
# https://www.reneshbedre.com/blog/z-test-in-python.html

# Sample Metrics

In [ ]:
sample_mean = sample['price'].mean()
sample_mean

3104.5

In [ ]:
sample_std_deviation = sample['price'].std()
sample_std_deviation

3215.7956124499938

# Population Metrics

In [ ]:
population_mean = population['price'].mean()
population_mean

3932.799721913237

In [ ]:
population_std_deviation = population['price'].std()
population_std_deviation

3989.439738146379

# Hypothesis
### H0 : Average price of diamonds is 3200
### HA : Average price of diamonds is not 3200

z-test (n = 40)
alpha : 0.05

In [ ]:
import math
Z_statistic = (sample_mean - population_mean) / (population_std_deviation / math.sqrt(40))
Z_statistic

-1.313123585492196

critical value:
1. two / one tailed -> two tailed
2. Level of significance -> 0.05

In [ ]:
critical_value = +- 1.64

### if z-statistic lies between +1.64 and -1.64 then H0 cannot be rejected
### here, z-statistic lies in given range. hence we do not reject null H0

t-test (n = 20)

In [ ]:
sample = population.sample(20)

In [ ]:
x_bar = sample['price'].mean()
sample_std_deviation = sample['price'].std()

In [ ]:
t_statistic = (x_bar - population_mean) / (sample_std_deviation / math.sqrt(20))
t_statistic

-1.1518981348016075

two tailed
DOF = 19

In [ ]:
t_table = 2.262

# t_statistic < t_table we reject null hypothesis
t_statistic = -1.15
t_table = 2.262

# hence, we reject null hypothesis